body, html {
    background: #F1F0EE;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    padding: 5px 0 10px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.up {
    font-size: 18px;
    background-color: #dcdcdc;
    color: #fff;
    padding: 60px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 48px;
}

.header {
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
    top: -167px;
}

.logo-image {
    width: 190px;
    height: auto;
}

.title .search-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 85%;
    margin-right: 450px;
}

.title input[type="search"] {
    font-size: 17px;
    width: 100%;
    padding: 14px;
    padding-right: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-appearance: none;
}

.title .search-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    padding: 15 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 18px;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    gap: 50px;
}

.bar {
    display: block;
    width: 38px;
    height: 8px;
    margin: 6px 0;
    background-color: #333;
    transition: 0.4s;
    border-radius: 5px;
}

.social-links .menu-icon {
    cursor: pointer;
    font-size: 24px;
    user-select: none;
}

.menu-options {
    display: none;
    font-size: 18px;
    padding: 0;
    border-radius: 5px;
    position: absolute;
    top: 68%;
    right: 0;
    width: 175px;
}

.menu-options a {
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.menu-options a:hover {
    color: white;
    background-color: #ec5353;
    text-decoration: none;
}

.menu-options a:not(:last-child)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 15px;
    height: 1px;
    background-color: #b81414;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: -170px;
}

.heading {
    color: #101828;
    font-size: 55px;
    font-weight: 500;
    line-height: 1;
}

.subheading {
    line-height: 1;
}

.main-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: calc(50% - 10px);
}

.creator-container {
    margin-left: -100px;
    margin-top: 20px;
    flex: 1;
    padding: 24px;
    background: #E4E2DF;
    border-radius: 12px;
    max-width: calc(50% - 10px);
}

.divider-line {
    width: 675px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 25px;
}

.section-title {
    color: #101828;
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    width: 801px;
    margin-top: -20px;
}

.section-text, .sub-section-text, .concluding-text {
    width: 675px;
    color: rgba(22, 22, 22, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
}

.sub-section {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.bullet-icon1, .bullet-icon2, .bullet-icon3 {
    position: relative;
}

.bullet-icon1 {
    width: 24px;
    height: 24px;
}

.bullet-icon2 {
    width: 35px;
    height: 20px;
}

.bullet-icon3 {
    width: 30px;
    height: 35px;
}

.creator-container {
    width: 400px;
    padding: 20px;
    background: #E4E2DF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: -4%;
}

.creator-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.creator-title {
    width: 399px;
    color: #101828;
    font-size: 25px;
    font-weight: 400;
    line-height: 28.80px;
}

.creator-info {
    font-size: 16px;
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.creator-icon {
    margin-top: -5px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.creator-description {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.creator-company {
    color: #161616;
    font-weight: 500;
}

.creator-links {
    display: flex;
    gap: 16px;
}

.creator-link {
    color: #161616;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    line-height: 28px;
}

.creator-divider {
    width: 399px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.creator-profiles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.creator-profile {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.profile-image {
    width: 65px;
    height: 65px;
    border-radius: 9999px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.profile-name {
    width: 320px;
    color: #161616;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.profile-role {
    width: 320px;
    color: #161616;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.down {
    font-size: 18px;
    background-color: #dcdcdc;
    color: black;
    padding: 20px 0;
    text-align: left;
    bottom: 0;
    width: 100%;
    height: 45px;
}

.footer {
    margin-left: 100px;
}