body {
    background: #F1F0EE;
}

.container {
    width: 100%;
    height: 100%;
    padding: 5px 0 10px 100px; /* padding: top right bottom left */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-image {
    width: 185px; /* Exemplo de largura */
    height: auto; /* Mantém a proporção da imagem */
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 450px;
}

.title-primary, .title-secondary {
    font-size: 35.57px;
    font-family: Graphik;
    font-weight: 600;
}

.title-primary {
    color: black;
}

.title-secondary {
    color: rgba(0, 0, 0, 0.30);
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-icon {
    width: 55px;
    height: 55px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.heading {
    color: #101828;
    font-size: 60px;
    font-family: Relative;
    font-weight: 500;
    line-height: 10px;
    margin-top: 50px;
}

.subheading {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #161616;
    font-size: 20px;
    font-family: Relative;
    font-weight: 400;
    line-height: 30px;
}

.main-container {
    display: flex; /* Os filhos serão dispostos lado a lado */
    align-items: flex-start; /* Alinha os itens ao topo */
    gap: 20px; /* Espaço entre os contêineres */
}

.info-section {
    flex: 1; /* Permite que o contêiner ocupe o espaço disponível */
    display: flex;
    flex-direction: column;
    gap: 24px; /* Espaço entre os subcontêineres */
    max-width: calc(50% - 10px); /* Ajusta a largura máxima para metade do contêiner principal menos a metade do espaço entre os contêineres */
}

.creator-container {
    margin-left: -100px;
    margin-top: 20px;
    flex: 1; /* Permite que o contêiner ocupe o espaço disponível */
    padding: 24px;
    background: #E4E2DF;
    border-radius: 12px;
    max-width: calc(50% - 10px); /* Ajusta a largura máxima para metade do contêiner principal menos a metade do espaço entre os contêineres */
}

.divider-line {
    width: 675px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 25px;
}

.section-title {
    width: 801px;
    color: #101828;
    font-size: 40px;
    font-family: Relative;
    font-weight: 400;
    line-height: 48px;
}

.section-text, .sub-section-text, .concluding-text {
    width: 675px;
    color: rgba(22, 22, 22, 0.60);
    font-size: 18px;
    font-family: Relative;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
}

.sub-section {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.bullet-icon1, .bullet-icon2, .bullet-icon3 {
    position: relative;
}

.bullet-icon1 {
    width: 24px;
    height: 24px;
}

.bullet-icon2 {
    width: 35px;
    height: 20px;
}

.bullet-icon3 {
    width: 30px;
    height: 35px;
}

.creator-container {
    padding: 24px;
    background: #E4E2DF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.creator-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.creator-title {
    width: 399px;
    color: #101828;
    font-size: 25px;
    font-family: Relative;
    font-weight: 400;
    line-height: 28.80px;
}

.creator-info {
    font-size: 16px;
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.creator-icon {
    margin-top: -5px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.creator-description {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.creator-company {
    color: #161616;
    font-weight: 500;
}

.creator-links {
    display: flex;
    gap: 16px;
}

.creator-link {
    color: #161616;
    font-size: 18px;
    font-family: Relative;
    font-weight: 500;
    text-decoration: underline;
    line-height: 28px;
}

.creator-divider {
    width: 399px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.creator-profiles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.creator-profile {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.profile-image {
    width: 65px;
    height: 65px;
    border-radius: 9999px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.profile-name {
    width: 320px;
    color: #161616;
    font-size: 16px;
    font-family: Relative;
    font-weight: 600;
    line-height: 24px;
}

.profile-role {
    width: 320px;
    color: #161616;
    font-size: 14px;
    font-family: Relative;
    font-weight: 400;
    line-height: 21px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}